<div style="padding:10px;border:1px solid #15803d;background:#86efac;">
	<div style="padding-top:15px">
		Test 1 Counter: @_counter
	</div>
	<div style="padding:10px">
		<button @onclick=_countTest1>Count Test 1</button>
	</div>
	<div style="display:flex;">
		<div style="flex:1 1 50%;padding:10px;">
			<Test2 ParentCounter="_counter" InstanceTag="left"/>
		</div>
		<div style="flex:1 1 50%;padding:10px;">
			<Test2 ParentCounter="_counter" InstanceTag="right" />
		</div>
	</div>
</div>


