@using System.Diagnostics
@using WebVella.BlazorTrace.Models
@inject IWvBlazorTraceService WvBlazorTraceService
<div style="padding:10px;border:1px solid #7e22ce; background:#d8b4fe;">
	<div style="padding-top:15px">
		Test 1 Parent: @ParentCounter
	</div>
	<div style="padding-top:15px">
		Test 2 Instance 1 Counter: @_counter
	</div>
	<div style="padding-top:5px">
		<button @onclick=_countTest2>Count Test 2</button>
	</div>
</div>

@code {
	[Parameter] public int ParentCounter { get; set; } = 0;

	private bool _enableTrace = true;
	private int _counter = 0;
	private List<Guid> _list = new();
	private string? _instanceTag = null;

	protected override void OnInitialized()
	{
		_instanceTag = this.GetHashCode().ToString();

		if (_enableTrace)
			WvBlazorTraceService.OnEnter(this, instanceTag: _instanceTag);

		base.OnInitialized();
		for (int i = 0; i < 5; i++)
		{
			_list.Add(Guid.NewGuid());
		}

		if (_enableTrace)
			WvBlazorTraceService.OnExit(this, instanceTag: _instanceTag, options: new WvTraceMethodOptions
				{
					MemoryLimitTotalBytes = 1,
					MemoryLimitDeltaBytes = 1,
					CallLimit = 1,
					DurationLimit = 1
				});
	}

	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		if (_enableTrace)
			WvBlazorTraceService.OnEnter(this, firstRender: firstRender, instanceTag: _instanceTag);

		base.OnAfterRender(firstRender);
		await Task.Delay(50);

		if (_enableTrace)
			WvBlazorTraceService.OnExit(this, firstRender: firstRender, instanceTag: _instanceTag);
	}

	protected override void OnParametersSet()
	{
		if (_enableTrace)
			WvBlazorTraceService.OnEnter(this, instanceTag: _instanceTag);

		base.OnParametersSet();

		if (_enableTrace)
			WvBlazorTraceService.OnExit(this, instanceTag: _instanceTag);
	}

	protected override bool ShouldRender()
	{
		if (_enableTrace)
			WvBlazorTraceService.OnEnter(this, instanceTag: _instanceTag);

		if (_enableTrace)
			WvBlazorTraceService.OnExit(this, instanceTag: _instanceTag);
		return base.ShouldRender();
	}

	private void _countTest2()
	{
		if (_enableTrace)
			WvBlazorTraceService.OnEnter(component: this, instanceTag: _instanceTag);

		_counter++;

		if (_enableTrace)
			WvBlazorTraceService.OnExit(component: this, instanceTag: _instanceTag);
	}
}
