@inject IWvBlazorTraceService WvBlazorTraceService
<div style="padding:10px;border:1px solid #15803d;background:#86efac;">
	<div style="padding-top:15px">
		Test 1 Counter: @_counter
	</div>
	<div style="padding:10px">
		<button @onclick=_countTest1>Count Test 1</button>
	</div>
	<div style="display:flex;">
		<div style="flex:1 1 50%;padding:10px;">
			<Test2 ParentCounter="_counter" />
		</div>
		<div style="flex:1 1 50%;padding:10px;">
			<Test2 ParentCounter="_counter" />
		</div>
	</div>
</div>

@code {
	private bool _enableTrace = true;
	private int _counter = 0;
	private string? _instanceTag = null;

	protected override void OnInitialized()
	{
		_instanceTag = this.GetHashCode().ToString();
		if (_enableTrace)
			WvBlazorTraceService.OnEnter(component: this, instanceTag: _instanceTag);

		base.OnInitialized();
		if (_enableTrace)
			WvBlazorTraceService.OnExit(component: this, instanceTag: _instanceTag);
	}

	protected override void OnAfterRender(bool firstRender)
	{

		if (_enableTrace)
			WvBlazorTraceService.OnEnter(component: this, firstRender: firstRender, instanceTag: _instanceTag);

		base.OnAfterRender(firstRender);

		if (_enableTrace)
			WvBlazorTraceService.OnExit(component: this, firstRender: firstRender, instanceTag: _instanceTag);
	}

	protected override void OnParametersSet()
	{
		if (_enableTrace)
			WvBlazorTraceService.OnEnter(component: this, instanceTag: _instanceTag);

		base.OnParametersSet();

		if (_enableTrace)
			WvBlazorTraceService.OnExit(component: this, instanceTag: _instanceTag);
	}

	protected override bool ShouldRender()
	{
		if (_enableTrace)
			WvBlazorTraceService.OnEnter(component: this, instanceTag: _instanceTag);

		if (_enableTrace)
			WvBlazorTraceService.OnExit(component: this, instanceTag: _instanceTag);
		return base.ShouldRender();
	}



	private void _countTest1()
	{
		if (_enableTrace)
			WvBlazorTraceService.OnEnter(component: this, instanceTag: _instanceTag);

		_counter++;

		if (_enableTrace)
			WvBlazorTraceService.OnExit(component: this, instanceTag: _instanceTag);
	}
}
