@inject IWvBlazorTraceService WvBlazorTraceService
<div style="padding:10px;border:1px solid #15803d;background:#86efac;">
	<div style="padding-top:15px">
		Test 1 Counter: @_counter
	</div>
	<div style="padding:10px">
		<button @onclick=_countTest1>Count Test 1</button>
	</div>
	<div style="display:flex;">
		<div style="flex:1 1 50%;padding:10px;">
			<Test2 ParentCounter="_counter" InstanceTag="left"/>
		</div>
		<div style="flex:1 1 50%;padding:10px;">
			<Test2 ParentCounter="_counter" InstanceTag="right" />
		</div>
	</div>
</div>

@code {
	[Parameter] public string? InstanceTag { get; set; }
	private bool _enableTrace = true;
	private int _counter = 0;

	protected override void OnInitialized()
	{
		if (_enableTrace)
			WvBlazorTraceService.OnEnter(component: this, instanceTag: InstanceTag);

		base.OnInitialized();
		if (_enableTrace)
			WvBlazorTraceService.OnExit(component: this, instanceTag: InstanceTag);
	}

	protected override void OnAfterRender(bool firstRender)
	{

		if (_enableTrace)
			WvBlazorTraceService.OnEnter(component: this, firstRender: firstRender, instanceTag: InstanceTag);

		base.OnAfterRender(firstRender);

		if (_enableTrace)
			WvBlazorTraceService.OnExit(component: this, firstRender: firstRender, instanceTag: InstanceTag);
	}

	protected override void OnParametersSet()
	{
		if (_enableTrace)
			WvBlazorTraceService.OnEnter(component: this, instanceTag: InstanceTag);

		base.OnParametersSet();

		if (_enableTrace)
			WvBlazorTraceService.OnExit(component: this, instanceTag: InstanceTag);
	}

	protected override bool ShouldRender()
	{
		if (_enableTrace)
			WvBlazorTraceService.OnEnter(component: this, instanceTag: InstanceTag);

		if (_enableTrace)
			WvBlazorTraceService.OnExit(component: this, instanceTag: InstanceTag);
		return base.ShouldRender();
	}



	private void _countTest1()
	{
		if (_enableTrace)
			WvBlazorTraceService.OnEnter(component: this, instanceTag: InstanceTag);

		_counter++;
		if(_enableTrace)
			WvBlazorTraceService.OnSignal(component: this, signalTag: "test-signal", instanceTag: InstanceTag);

		if (_enableTrace)
			WvBlazorTraceService.OnExit(component: this, instanceTag: InstanceTag);
	}
}
