@using System.Diagnostics
@using WebVella.BlazorTrace
@using WebVella.BlazorTrace.Models
@inject IWvBlazorTraceService WvBlazorTraceService
<div style="padding:10px;border:1px solid #7e22ce; background:#d8b4fe;">
	<div style="padding-top:15px">
		Test 1 Parent: @ParentCounter
	</div>
	<div style="padding-top:15px">
		Test 2 Instance 1 Counter: @_counter
	</div>
	<div style="padding-top:5px">
		<button @onclick=_countTest2>Count Test 2</button>
	</div>
</div>

@code {
	[Parameter] public int ParentCounter { get; set; } = 0;
	[Parameter] public string? InstanceTag { get; set; }
	private int _counter = 0;
	private List<Guid> _list = new();
	private static string _staticTest = Guid.NewGuid().ToString();

	private void _countTest2()
	{
		WvBlazorTraceService.OnEnter(caller: this, instanceTag: InstanceTag);
		_counter++;
		WvBlazorTraceService.OnSignal(caller: this, signalName: "counter2", instanceTag: InstanceTag,
			customData: $"counter:{_counter}",
			options: new Models.WvTraceSignalOptions
			{
				CallLimit = 0
			});
		WvBlazorTraceService.OnExit(caller: this, instanceTag: InstanceTag);
	}
}
